<%= render :partial => "titulo"%>
<h1>Adicionando Restaurante</h1>

<% if @restaurante.errors.any? %>
<u>
	<%@restaurante.errors.full_messages.each do |msg|%>
	<li><%= msg%></li>
	<% end %>
</u>
<% end %>

<%= form_for :restaurante, :url => {:action => 'create'} do |f| %>
	Nome: <%= f.text_field :nome%><br/>
	Endereço: <%= f.text_field :endereco%><br/>
	Especialidade: <%= f.text_field :especialidade%><br/>
	<%= submit_tag 'Criar'%>
<% end %>
<%= link_to 'Voltar', {:action => 'index'}%>	

